@import "tailwindcss";

@theme {
  --color-my-odd: lightblue;
  --color-my-even: lightpink;
  --color-my-red: rgb(255, 0, 0);
  --color-my-black: rgba(0, 0, 0, 0.3);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
