@import "tailwindcss";

@theme {
  --color-my-odd: lightblue;
  --color-my-even: lightpink;
  --color-my-red: rgb(255, 0, 0);
  --color-my-black: rgba(0, 0, 0, 0.3);
  --color-my-green: rgb(0, 255, 0);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer components {
  .button {
    @apply text-white text-[15px] cursor-pointer py-1 px-5 rounded-sm;
  }
}
