@import "tailwindcss";

@theme {
  --color-my-odd: #dbf6ff;
  --color-my-even: #ffe4ea;
  --color-my-red: rgb(253, 78, 48);
  --color-my-black: rgba(0, 0, 0, 0.3);
  --color-my-green: rgb(33, 179, 33);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer components {
  .button {
    @apply text-white text-[15px] cursor-pointer py-1 px-5 rounded-sm;
  }
}

.root {
  color: rgb(33, 179, 33);
}
